<div class="app-container">

	<div class="menu-container">

	</div>

	<div class="map-container">
		<map markers="markers"></map>
	</div>
	<div class="tracker-overlay-container">
		<div class="tracker">
			<div class="bus-path"></div>
			<div class="selected-label"></div>
		</div>
	</div>

</div>