/* line 1, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-color: #000;
  opacity: .6;
}
/* line 10, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .tracker {
  position: relative;
  border-top: 1px solid #333333;
}
/* line 16, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path {
  position: absolute;
  height: 30px;
  top: -15px;
  padding: 15px 0;
}
/* line 21, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop {
  width: 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  background-color: white;
}
/* line 26, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop.passed {
  background-color: #333333;
}
/* line 29, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop.selected {
  background-color: black;
}

/* line 1, ../sass/sass/_menuOverlay.scss */
.control-container {
  position: absolute;
  left: 0;
  bottom: 100px;
}
/* line 9, ../sass/sass/_menuOverlay.scss */
.control-container .menu-options li {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: 1px solid #DDD;
  border-left: none;
  border-top: none;
  padding: 0;
  margin: 0;
  display: block;
  background-color: white;
  color: #007095;
}
/* line 24, ../sass/sass/_menuOverlay.scss */
.control-container .menu-options li:hover {
  color: white;
  background-color: #007095;
}
/* line 31, ../sass/sass/_menuOverlay.scss */
.control-container .menu-options li:first-child {
  border-top: 1px solid #DDD;
}

/* line 1, ../sass/sass/_listOverlay.scss */
.list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
/* line 6, ../sass/sass/_listOverlay.scss */
.list-container li {
  width: 100%;
}
/* line 10, ../sass/sass/_listOverlay.scss */
.list-container .stop-card {
  background: #FFF;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-box-shadow: #dddddd;
  -moz-box-shadow: #dddddd;
  box-shadow: #dddddd;
}
/* line 16, ../sass/sass/_listOverlay.scss */
.list-container .nearby-stop-routes-container {
  display: inline-block;
}
/* line 19, ../sass/sass/_listOverlay.scss */
.list-container .nearby-stop-routes {
  display: block;
}
/* line 22, ../sass/sass/_listOverlay.scss */
.list-container .nearby-stop-route {
  background-color: white;
  color: #007095;
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #007095;
  text-align: center;
  padding: 0;
  margin-left: 10px;
  line-height: 50px;
}
/* line 34, ../sass/sass/_listOverlay.scss */
.list-container .nearby-stop-route:hover {
  color: white;
}
/* line 37, ../sass/sass/_listOverlay.scss */
.list-container .nearby-stop-route.favorite {
  background-color: #007095;
  color: white;
}

/* line 1, ../sass/sass/_map.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 5, ../sass/sass/_map.scss */
html, body, .map-container {
  height: 100%;
  width: 100%;
}

/* line 10, ../sass/sass/_map.scss */
.map-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

/* line 12, ../sass/sass/main.scss */
.app-container {
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/sass/main.scss */
* {
  box-sizing: border-box;
}
