/* line 1, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
}
/* line 7, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .tracker {
  position: relative;
  border-top: 1px solid #333333;
}
/* line 13, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path {
  position: absolute;
  height: 30px;
  top: -15px;
  padding: 15px 0;
}
/* line 18, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop {
  width: 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  background-color: white;
}
/* line 23, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop.passed {
  background-color: #333333;
}
/* line 26, ../sass/sass/_trackerOverlay.scss */
.tracker-overlay-container .bus-path .stop.selected {
  background-color: black;
}

/* line 1, ../sass/sass/_menuOverlay.scss */
.menu-container {
  position: absolute;
}

/* line 10, ../sass/sass/main.scss */
* {
  box-sizing: border-box;
}
